<div class="view-header">
    <h3>Aikataulu</h3>
</div>
<div ng-controller="TimelineController" id="timeline">
<strong>Perjantai:</strong>
<div ng-repeat="event in eventsFriday" class="row">
  <div class="one columns">
    {{ event.time }}
  </div>
  <div class="one columns eventicon">
    <a ng-href="/#/map/{{ event.placeId }}"><img class="eventimg" ng-src="/assets/icons/white/{{ event.placeIcon }}"></a>
  </div>
  <div class="ten columns">
    {{ event.description }}
 </div>
</div>
<br />
<strong>Lauantai:</strong>
<div ng-repeat="event in eventsSaturday" class="row">
  <div class="one columns">
    {{ event.time }}
  </div>
  <div class="one columns eventicon">
    <a ng-href="/#/map/{{ event.placeId }}"><img class="eventimg" ng-src="/assets/icons/white/{{ event.placeIcon }}"></a>
  </div>
  <div class="ten columns">
    {{ event.description }}
  </div>
  <div>
  </div>
</div>
<br />
<strong>Sunnuntai:</strong>
<div ng-repeat="event in eventsSunday" class="row">
  <div class="one columns">
    {{ event.time }}
  </div>
  <div class="one columns eventicon">
    <a ng-href="/#/map/{{ event.placeId }}"><img class="eventimg" ng-src="/assets/icons/white/{{ event.placeIcon }}"></a>
  </div>
  <div class="ten columns">
    {{ event.description }}
  </div>
  <div>
  </div>
</div>
</div>