body {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #2b2b2b;
  color: #ffffff;
  text-align: justify;
}
a {
  cursor: pointer;
}
.view-header {
  height: 50px;
}
.view-header h3 {
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-size: 2rem;
  border-bottom: medium double #ffffff;
}
.content {
  padding: 1.5rem;
  margin-bottom: 60px;
}
.content p,
.content form {
  margin-top: 0.4rem;
}
.content hr.small {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}
.content input {
  color: #191919;
}
.footer {
  background-color: #4c4c4c;
}
.footer p {
  text-align: center;
}
.footer img.logo {
  height: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.text-center {
  text-align: center;
}
.circular-logo {
  width: 100px;
  height: 100px;
  /*border-radius: @circular-logo-size / 2;
  -webkit-border-radius: @circular-logo-size / 2;
  -moz-border-radius: @circular-logo-size / 2;
  box-shadow: 0 0 2px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, .8);*/
  background-size: 100px 100px;
}
.circular-logo.tite {
  background: transparent url("/assets/tite.png") no-repeat;
}
.circular-logo.cluster {
  background: transparent url("/assets/cluster.png") no-repeat;
}
.circular-logo.tik {
  background: transparent url("/assets/tik.png") no-repeat;
}
.circular-logo.otit {
  background: transparent url("/assets/otit.png") no-repeat;
}
.circular-logo.digit {
  background: transparent url("/assets/digit.png") no-repeat;
}
.circular-logo.small {
  width: 5rem;
  height: 5rem;
  /*border-radius: @circular-logo-small / 2;
    -webkit-border-radius: @circular-logo-small / 2;
    -moz-border-radius: @circular-logo-small / 2;*/
  background-size: 5rem 5rem;
}
.mappopup {
  color: black;
}
.mappopup p {
  margin: 5px 0;
}
#map_canvas {
  height: 640px;
}
.angular-google-map,
.angular-google-map-container {
  height: 100%;
}
#icons {
  font-size: 0.7em;
}
#whereami {
  color: white;
  float: right;
  margin-left: 10px;
}
#radar .radar-indicator {
  width: 30rem;
  height: 30rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15rem;
  -webkit-border-radius: 15rem;
  -moz-border-radius: 15rem;
  -webkit-transition: background-color 1000ms linear;
  -moz-transition: background-color 1000ms linear;
  -o-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}
#radar .radar-indicator.level-0 {
  background-color: #FF160F;
  border: 10px solid #a80500;
}
#radar .radar-indicator.level-1 {
  background-color: #FF4D04;
  border: 10px solid #9d2e00;
}
#radar .radar-indicator.level-2 {
  background-color: #C9C4C9;
  border: 10px solid #988f98;
}
#radar .radar-indicator.level-3 {
  background-color: #5396BA;
  border: 10px solid #305e77;
}
#radar .radar-indicator.level-4 {
  background-color: #1717FF;
  border: 10px solid #0000b0;
}
.eventimg {
  height: 32px;
  vertical-align: middle;
}
@media (max-width: 549px) {
  .eventicon {
    width: auto;
    float: right;
    margin-top: -28px;
  }
}
