#wrapper .footer {
  height: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
}
#wrapper .side-navigation {
  background-color: #191919;
  margin-left: -200px;
  left: 0px;
  width: 250px;
  position: fixed;
  height: 100%;
  z-index: 999;
  transition: all 0.4s ease 0s;
}
#wrapper .side-navigation .side-navi-toggle {
  height: 50px;
  padding-top: 10px;
  list-style: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
#wrapper .side-navigation .side-navi-link {
  cursor: pointer;
  list-style: none;
  padding-left: 15px;
  color: #ffffff;
  text-transform: uppercase;
}
#wrapper .side-navigation .side-navi-link:hover {
  color: #ff8c00;
}
#wrapper .side-navigation .side-navi-link.active {
  color: #d90000;
}
#wrapper .side-navigation .side-navi-link .side-navi-icon {
  width: 50px;
  text-align: center;
}
#wrapper .main {
  padding-left: 50px;
  margin-left: 0;
  max-width: 100%;
  height: auto;
  transition: all .4s ease 0s;
}
#wrapper .main .footer {
  padding-left: 50px;
  transition: all .4s ease 0s;
}
#wrapper.side-navi-open .side-navigation {
  left: 200px;
}
@media only screen and (min-width: 550px) {
  #wrapper.side-navi-open .main {
    padding-left: 250px;
  }
  #wrapper.side-navi-open .footer {
    padding-left: 250px;
  }
}
