@import "variables.less";

body {
  font-family: @font-family;
  background-color: @content-background;
  color: @content-foreground;
  text-align: justify;
}

a {
  cursor: pointer;
}

.view-header {
  h3 {
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-size: 2rem;
    border-bottom: medium double @content-foreground;
  }

  height: 50px;
}

.content {
  padding: 1.5rem;
  margin-bottom: 60px;

  p, form {
    margin-top: 0.4rem;
  }

  hr {
    &.small {
      margin-top: 0.5rem;
      margin-bottom: 2rem;
    }
  }

  form {
    input {
      color: @navigation-background;
    }
  }
}

.footer {
  background-color: @logos-background;

  p {
    text-align: center;
  }

  img {
    &.logo {
      height: 50px;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}

@circular-logo-size:    100px;
@circular-logo-small:   5rem;

.circular-logo {
  width: @circular-logo-size;
  height: @circular-logo-size;

  /*border-radius: @circular-logo-size / 2;
  -webkit-border-radius: @circular-logo-size / 2;
  -moz-border-radius: @circular-logo-size / 2;
  box-shadow: 0 0 2px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, .8);*/
  
  &.tite {
    background: transparent url("/assets/tite.png") no-repeat;
  }

  &.cluster {
    background: transparent url("/assets/cluster.png") no-repeat; 
  }

  &.tik {
    background: transparent url("/assets/tik.png") no-repeat; 
  }

  &.otit {
    background: transparent url("/assets/otit.png") no-repeat; 
  }

  &.digit {
    background: transparent url("/assets/digit.png") no-repeat; 
  }

  background-size: @circular-logo-size @circular-logo-size;

  &.small {
    width: @circular-logo-small;
    height: @circular-logo-small;

    /*border-radius: @circular-logo-small / 2;
    -webkit-border-radius: @circular-logo-small / 2;
    -moz-border-radius: @circular-logo-small / 2;*/
    background-size: @circular-logo-small @circular-logo-small;
  }
}
.mappopup { color: black; }
.mappopup p { margin: 5px 0; }
#map_canvas { height: 640px; }
.angular-google-map, .angular-google-map-container { height: 100%; }
#icons { font-size: 0.7em }
#whereami { color: white; float: right; margin-left: 10px }

.radar {
  .level-0 { background-color: #FF160F; }
  .level-1 { background-color: #FF4D04; }
  .level-2 { background-color: #C9C4C9; }
  .level-3 { background-color: #5396BA; }
  .level-4 { background-color: #1717FF; }
}
