@import "variables.less";

body {
  font-family: @font-family;
  background-color: @content-background;
  color: @content-foreground;
}

.view-header {
  h3 {
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-size: 2rem;
    border-bottom: medium double @content-foreground;
  }

  height: 50px;
}

.content {
  padding: 1.5rem;
}