@import "mixins.less";

@side-navi-width-open:      250px;
@side-navi-width-closed:    50px;
@side-navi-link-height:     40px;
@side-navi-toggle-height:   50px;

@slide-transition:          all .4s ease 0s;

#wrapper {
  .side-navigation {
    background-color: #000000;

    margin-left: -(@side-navi-width-open - @side-navi-width-closed);
    left: 0px;
    width: @side-navi-width-open;
    position: fixed;
    height: 100%;
    z-index: 999;

    transition: @slide-transition;

    .side-navi-toggle {
      height: @side-navi-toggle-height;
      padding-top: 10px;

      .no-select();
      .pointer();
    }

    .side-navi-link {
      display: none;
    }
  }

  .main {
    padding-left: @side-navi-width-closed;

    margin-left: 0;
    width: 100%;
    height: auto;

    transition: all .4s ease 0s;
  }

  &.side-navi-open {
    .side-navi-link {
      display: block;
    }

    .side-navigation {
      left: @side-navi-width-open - @side-navi-width-closed;
    }

    @media only screen and (min-width: 550px) {
      .main {
        padding-left: @side-navi-width-open;
      }
    }
  }
}

