<div class="view-header">
    <h3>Bonuslaji <span class="pull-right">Vincit Oy</span></h3>
</div>

<div class="row">
  <div class="six columns">
    <button class="button-primary" ng-click="toggleRadar()">
      Tutka <span ng-hide="radarOn">päälle</span><span ng-show="radarOn">pois</span>
    </button>
  </div>

  <div class="six columns">
    <button class="button-primary pull-right" ng-click="toggleCodeEntry()">Syötä koodi</button>
  </div>
</div>

<hr class="small" />

<p ng-show="!radarOn && !codeEntry">
  Käytä tutkaa löytääksesi Vincit-kamaa kampukselta tai muista Titeenien Taistojen tapahtumapaikoista. Syötä koodi tai skannaa QR ja tienaa killallesi tärkeitä pisteitä. "Tutkan" värin pitäisi indikoida jollain tarkkuudella, onko jossain lähettyvillä piilo.
</p>

<div class="row" ng-show="radarOn && !codeEntry"> 
  <div id="radar" class="columns twelve">
    <div class="radar-indicator {{ 'level-' + level }}" ng-class=""></div>
  </div>

  <p class="pull-right">
    Tarkkuus: {{ accuracy }}
  </p>
</div>

<div class="row" ng-show="!radarOn && codeEntry">
  <div class="eight columns" id="code-entry">
    <input class="u-full-width" ng-model="code" type="text" placeholder="Koodi" />
  </div>

  <div class="four columns">
    <input class="button-primary pull-right" type="submit" value="Tarkasta" /> 
  </div>
</div>