<div class="view-header">
    <h3>Bonuslaji <span class="pull-right">Vincit Oy</span></h3>
</div>

<div class="row">
  <div class="six columns">
    <button class="button-primary" ng-click="toggleRadar()">
      Tutka <span ng-hide="radarOn">päälle</span><span ng-show="radarOn">pois</span>
    </button>
  </div>

  <div class="six columns">
    <button class="button-primary pull-right" ng-click="toggleCodeEntry()">Syötä koodi</button>
  </div>
</div>

<hr class="small" />

<div class="row" ng-show="radarOn"> 
  <div id="radar" class="columns twelve">
    <div class="radar-indicator"></div>
  </div>
</div>

<div class="row" ng-show="!radarOn && entryCode">
  <div class="eight columns" id="code-entry">
    <input class="u-full-width" type="text" placeholder="Koodi" />
  </div>

  <div class="four columns">
    <input class="button-primary pull-right" type="submit" value="Tarkasta" /> 
  </div>
</div>