<div class="view-header">
    <h3>Bonuslaji</h3>
</div>

<div class="row">
  <div class="six columns">
    <button class="button-primary" ng-click="toggleRadar()">Tutka</button>
  </div>

  <div class="six columns">
    <button class="button-primary pull-right">Syötä koodi</button>
  </div>

  <h1 ng-show="radarOn">Tutka päällä</h1>
  <h1>{{ level }}</h1>


  <button class="button-primary" ng-click="test()">TESTAA :D:D</button>

  <h2>D: {{ distance }}</h2>
  <h2>CL: {{ currentLocationText }}</h2>
  <h2>TL: {{ testLocationText }}</h2>
</div>